* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    
}

/* Common feature styles */
.common-btn {
    padding: 14px 22px;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    color: #005FAC;
}

.container {
    width: 1072px;
    margin: 100px auto;
}

/* This is a header styles */
header {
    width: 100%;
    height: 809px;
    background-image: url("/images/banner/banner3.png");
}

.header-container {
    padding: 216px 230px 0 845px;
}

.thinks-conatiner {
    color: #fff;
    text-align: right;
    width: 500px;



}

.header-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;

}

.header-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}


/* This is a failures styles */
.failures-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.failures-image img {
    width: 500px;
}

.failures {
    width: 416px;
    height: 400px;
}

.failures-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.failures-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.list li {
    margin-bottom: 8px;
}

.fa-check {
    padding-right: 5px;
    color: rgb(51, 251, 51);
}


/* This is a "My plan" section  styles*/
.plan-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.plan {
    display: flex;
    justify-content: space-between;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-titles {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 20px;
    color: #737272;

}


/* This is a learning target section  */
.learning-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.subject{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.leaning-subject{
    padding: 20px 30px;
}

.leaning-subject{
    box-shadow: 6px 5px 12px 0px #dededebf;
}
.subject-title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}

.html-bg{
    background-color: #d5e9fa;
    border-bottom: 10px solid #38a4fc;
    border-radius: 5px;
}
.css-bg{
    background-color: #fceed9;
    border-bottom: 10px solid #fcad3f;
    border-radius: 5px;
}
.javascript-bg{
    background-color: #ffd8dc;
    border-bottom: 10px solid #ff4f61;
    border-radius: 5px;
}


/* This is a call now styles */
.call-now {
    background-image: url("/images/gradient1.png"), url("/images/watch.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1080px;
    height: 300px;
    
}
.call-now-content{
    padding: 72px;
}

.mindset-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #fff;
}

/* This is a footer section  */
footer{
    background-color: black;
    width: 100%;
    overflow-x: hidden;
}
.footer-caonatiner{
    width: 1072px;
    margin: 0 auto; 
    padding: 130px 230px;
}

.footer-contact{
    display: flex;
    gap: 250px;
}
.future-title{
    font-weight: 700;
font-size: 45px;
color: #F8F8F8;
margin-bottom: 16px;
}

.future p{
    font-weight: 400;
font-size: 16px;
color: #FFFFFF;
margin-bottom: 24px;
}

.icon{
    padding-right: 17px;
}

.subscribe{
    display: block;
}
.subscribe-title{
    font-weight: 500;
font-size: 25px;
color: #FFFFFF;
margin-bottom: 31px;
}

.form input{
 padding: 14px 30px;
 border:2px solid #FFFFFF;
 border-radius: 5px;
 background-color: #ffffff00;
 color: #FFFFFF;
}

.btn-subscribe{
    background-color: #005FAC;
    color: #FFFFFF;
    margin-top: 16px;
    
}
